@charset "utf-8";
/* input init */
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input::-ms-clear {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand {
	display: none;
}
input[type="checkbox"] {
  border: none!important;
  outline: none;
  display: none;
}

/* searchform */
#search-container {
  width: 868px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}
/********************************************* 01. check * 4 ***********************/
#search-container .check-items {
  display: flex;
  justify-content: space-between;
}

#search-container .check-items label {
  width: 24.5%;
  background-color: rgb(240, 109, 61);
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
  padding: 6px 20px 6px 50px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
}

#search-container .check-items label span.check-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 10px;
  border-radius: 2px;
  transform: translateY(-50%);
}
/* #search-container .check-items input[type="checkbox"]:checked ~ label {
  background-color: orange;
} */
#search-container .check-items input[type="checkbox"]:checked + .check-icon {
  background-color: aqua;
}

@media (max-width: 680px) {
  #search-container .check-items {
    flex-wrap: wrap;
    padding: 10px;
  }
  #search-container .check-items label {
    box-sizing: border-box;
    width: 49%;
    font-size: 1rem;
    margin: 4px 0px;
    padding: 10px 4px 10px 40px;
    height: 45px;
  }
  #search-container .check-items label span.check-icon {
    width: 16px;
    height: 16px;
  }
}

/********************************************* 02. select * 5 ***********************/

#search-container .select-items {
  margin-top: 14px;
  display: flex;
  gap: 4px;
}
#search-container .select-items .select-wrap {
  border: none;
  outline: none;
  width: 35%;
}
#search-container .select-items .select-wrap {
  font-size: 0.8rem;
  position: relative;
}
#search-container .select-items .select-wrap:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: url(img/new_arrow.png) no-repeat;
  width: 9px;
  height: 7px;
  z-index: 2;
}
#search-container .select-items .select-wrap select {
  box-sizing: border-box;
  background-color: #eee;
  padding: 14px 2px 14px 6px;
  width: 100%;
  background-image: linear-gradient( 180deg,#fdfdfd, #dbdbdb);
  border: 1px solid #444;
  border-radius: 5px;
  font-weight: bold;
}
@media (max-width: 680px) {
  #search-container .select-items {
    margin-top: 4px;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0 10px;
  }
  #search-container .select-items .select-wrap {
    flex: 1;
    width: auto;
  }
  #search-container .select-items .select-wrap select {
    padding: 10px 2px 10px 6px;
  }
}